{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue sur la page de votre compte {{ app.user.firstname }}
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
{% endblock %}
